body {}

.line-custom {
    width: 30%;
    height: 5px;
    margin-top: 20px;
    background-color: #17B7E9;
}

.title {
    color: #02394A;
    font-family: 'Raleway';
}

.container {
    width: 100%;
}

.bg-cover {
    position: relative;
    width: 100%;
    background-image: url('/public/images/wave.png')no-repeat !important;
}

#card-artikel {
    font-family: 'Raleway';
    border-radius: 40px !important;
    box-shadow: 12px 12px 2px 1px rgba(7, 7, 7, 0.2);
}

.card-artikel {
    border-radius: 40px !important;
    box-shadow: 12px 12px 2px 1px rgba(7, 7, 7, 0.2);
    background-color: #E9E8D4;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    -ms-border-radius: 40px !important;
    -o-border-radius: 40px !important;
}

.card-artikel img {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


/* gallery */

.gallery {
    display: flex;
}

#gallery-header {
    margin-top: -6% !important;
    color: #02394A;
    position: relative;
    font-family: 'Raleway';
}

.gallery-y-72 {
    height: 100vh;
}

.bg-gallery {
    box-shadow: -10px 12px 0px 5px #02394A;
    margin-top: 10%;
    height: 80px;
    width: 18%;
    background-color: #E9E8D4;
}

#foto-gallery {
    box-shadow: 2px 2px 2px 1px rgba(7, 7, 7, 0.192);
    border-radius: 30px;
    height: auto;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.judul {
    font-family: 'Raleway';
}


/* magazine */

.line-3 {
    width: 18%;
    background-color: #17B7E9;
    height: 5px;
}

#list-magazine {
    border-radius: 20px;
    box-shadow: 6px 6 2px 1px rgba(7, 7, 7, 0.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

button {
    background-color: #17B7E9;
}

.logo-footer {
    width: 150px;
    position: relative;
}

.footer {
    height: 240px;
    background-color: #E5E5E5;
}

.kontak {
    color: #02394A;
    font-size: 15px;
}

svg {
    color: #17B7E9;
}

@media (max-width: 575.98px) and (max-width:768px) {
    .mx-auto {
        position: relative;
        background-color: #02394A !important;
        height: 100%;
        min-height: 220vh;
        display: flex;
        justify-content: center;
    }
    .judul {
        font-family: 'Raleway';
        font-size: 40px;
        text-align: center;
    }
    .line-custom {
        display: none;
    }
    .bg-cover {
        /* display: none; */
    }
    .foto {
        position: relative;
    }
    .gallery-y-72 {
        max-height: 100vh;
        text-align: center !important;
    }
    #gallery-header {
        font-size: 60px;
        font-weight: bold;
        height: 10px;
        margin-bottom: 40px;
        margin-top: 20% !important;
        text-align: center !important;
    }
    .bg-gallery {
        display: none;
        background-color: transparent;
    }
    button {
        text-align: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    #item-footer {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .logo-footer {
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
    }
    #sosmed {
        display: flex;
        justify-content: center;
    }
}