/* Awal Magazine */
.corner h1 {
    font-size: 64;
    font-weight: 700;
}

.corner h1 span {
    color: #17B7E9;
}

.corner p {
    font-size: 36;
    font-weight: 700;
}

.majalah p {
    font-size: 18;
    font-weight: 600;
}

#gallery-modal .modal-img  {
    margin-left: 25%;
    width: 50%;
}
/* Akhir Magazine */