@media (min-width: 580px) and (max-width: 991px) {
.line {
    width: 40%;
}
.line-color {
    width: 65%;
}

}


@media (max-width: 575.98px) {

.line {
    width: 70%;
}
.line-color{
    width: 60%;
}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
.line {
    width: 70%;
    }
.line-color {
    width: 80%;
}
}

